@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Unit feature - 20250326_0033 */
/* Unit feature - 20250327_0036 */
/* Unit feature - 20250411_0055 */
/* Unit feature - 20250424_0081 */
/* Unit feature - 20250430_0092 */
/* Unit feature - 20250509_0113 */
/* Unit feature - 20250514_0120 */
